<h1 class="shadow-lg p-5 d-flex bg-light justify-content-center align-items-center">List New Customer</h1>
@model X.PagedList.PagedList<NexusApp.Areas.Customer.Models.CustomerModel>
@using X.PagedList.Mvc.Core

@{
    TempData["title"] = "Customer";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<style>
    .table > :not(caption) > * > * {
        padding: 5px 8px;
    }
    .hide-empty-options .option-text[value=""] {
        display: none;
    }
    .modal.fade.show {
        display: block;     
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

        .pagination li.active {
            background-color: #4CAF50;
            padding: 8px 16px;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination li:hover:not(.active) {
            background-color: #ddd;
        }

</style>
<div class="container p-4">
<form asp-area="Financial" asp-controller="Financial" asp-action="CustomerList" method="get">
  <label class="form-label">Search: </label>
  <div class="mb-3 row">
  <input class="col-sm-3" type="text" name="SearchName" placeholder="Enter Customer Name to search" />
     <div class="col-sm-2">
         <select class="form-control" name="searchConID">
            <option value="">-------Chose-------</option>
            @if (ViewBag.ListCon != null)
            {
            foreach (var item in ViewBag.ListCon)
            {
            <option value="@item.ServiceConnectionId">@item.Name</option>
            }
            }
         </select>
     </div>
     <div class="col-sm-1">
     <input class="btn btn-light-primary" type="submit" value="Search" />
     </div>
  </div>
</form>
@if (TempData.ContainsKey("Error"))
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
    <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Services</th>
                <th>Plan</th>
                <th>Type Connect</th>
                <th> Phone</th>
                <th> Email</th>
                <th>City</th>
                <th>Register Status</th>
                <th>Created Day</th>
            @if (Context.Session.GetString("Role") != "Manager")
            {
                <th>Action</th>
            }
            </tr>
        <tbody>
            @if (Model != null && Model.Count >0)
            {
                @foreach (var cus in Model)
                {
                    <tr>
                        <td>@cus.Name</td>
                        @if (@cus.Services !=null && @cus.Services.SubServiceConnections !=null &&@cus.Services.SubServiceConnections.ServiceConnections!=null)
                        {
                            <td>@cus.Services.Name</td>
                            <td>@cus.Services.SubServiceConnections.Name</td>
                            <td>@cus.Services.SubServiceConnections.ServiceConnections.Name</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        <td>@cus.Phone</td>
                        <td>@cus.Email</td>
                        <td>@cus.City</td>
                        <td>@cus.RegistrationStatus</td>
                        <td>@cus.CreatedDate</td>
                        @if (Context.Session.GetString("Role") != "Manager")
                        {
                            @if (@cus.Surveys.Count != 0)
                            {
                                <td><span class="checked"><i class="bi bi-check-circle-fill" style="color:#00BFFF"></i></span></td>
                            }
                            else
                            {
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#customerModal-@cus.CustomerId">Survey</button>
                                </td>
                            }
                          
                        }
                    </tr>
                }
            }
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        </tbody>
    </table>
</div>
<!-- Phân trang -->
<div>
    @Html.PagedListPager(Model,page=>Url.Action("CustomerList","Financial",new {page=page}))
</div>
@if(Model !=null)
{
    @foreach (var cus in Model)
    {
        <!-- Modal -->
        <div class="modal fade" id="customerModal-@cus.CustomerId" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="customerModalLabel">Form Create Survey</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form asp-action="UpdateFullCustomer" asp-area="Financial" asp-controller="Financial" method="post">
                        <div class="modal-body">
                            <input asp-for="@cus.CustomerId" type="hidden" class="input">
                            <input asp-for="@cus.ServiceRefId" type="hidden" class="input">
                            <input asp-for="@cus.Services" type="hidden" class="input">
                            <div class="form-group">
                                <label for="nameInput">Name:</label>
                                <input type="text" class="form-control" id="nameInput" asp-for="@cus.Name" >
                            </div>
                            <div class="form-group">
                                <label for="emailInput">Email:</label>
                                <input type="email" class="form-control" id="emailInput" asp-for="@cus.Email" >
                            </div>
                            <div class="form-group">
                                <label for="streetInput">Street:</label>
                                <input type="text" class="form-control" id="streetInput" asp-for="@cus.Street" >
                            </div>
                            <div class="form-group">
                                <label for="WardInput">Ward:</label>
                                <input type="text" class="form-control" id="WardInput" asp-for="@cus.Ward" >
                            </div>
                            <div class="form-group">
                                <label for="DistrictInput">District:</label>
                                <input type="text" class="form-control" id="DistrictInput" asp-for="@cus.District" >
                            </div>
                            <div class="form-group">
                                <label for="cityInput">City:</label>
                                <input type="text" class="form-control" id="cityInput" asp-for="@cus.City">
                            </div>
                            <div class="form-group">
                                <label for="phoneInput">Phone:</label>
                                <input type="text" class="form-control" id="phoneInput" asp-for="@cus.Phone" >
                            </div>
                            <div class="form-group">
                                <label for="BirthDayInput">BirthDay:</label>
                                <input type="Date" class="form-control" id="BirthDayInput" asp-for="@cus.BirthDay">
                            </div>
                            <div class="form-group">
                                <label for="updatedDateInput">Updated:</label>
                                <input type="Date" class="form-control" id="updatedDateInput" asp-for="@cus.UpdatedDate">
                            </div>
                            <div class="form-group">
                                <select name="EmpID">
                                    <option value="">---Chose---</option>
                                    @if (ViewBag.ListEmp != null)
                                    {
                                        foreach (var item in ViewBag.ListEmp)
                                        {
                                            <option value="@item.EmployeeId">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <!-- Add more form fields here -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create Survey</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}